/* ------------------Grid System--------------- */ 
.page{ width: 1000px; position: relative; margin: 0 auto; padding: 0px;}
.page:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.page .f-right{float: right!important;}
.page .f-left{float: left!important;}

.page .row{}
.page .row:before,.row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.page .row:after{clear: both; }
.page .row{zoom: 1;}

.page .wrap-col{margin:10px;}

.page .col-1-2, .page .col-1-3, .page .col-2-3, .page .col-1-4, .page .col-2-4, .page .col-3-4, .page .col-1-5, .page .col-2-5, .page .col-3-5, .page .col-4-5, .page .col-1-6, .page .col-2-6, .page .col-3-6, .page .col-4-6, .page .col-5-6{float:left; display: inline-block;}

.page .col-full{width:100%;}

.page .col-1-2,.page .col-1-2-fixed{width:50%;}
.page .offset-1-2{margin-left: 50%;}

.page .col-1-3,.page .col-1-3-fixed{width:33.33%;}
.page .col-2-3,.page .col-2-3-fixed{width:66.66%;}
.page .offset-1-3{margin-left: 33.33%;}
.page .offset-2-3{margin-left: 66.66%;}

.page .col-1-4,.page .col-1-4-fixed{width:25%;}
.page .col-2-4,.page .col-2-4-fixed{width:50%;}
.page .col-3-4,.page .col-3-4-fixed{width:75%;}
.page .offset-1-4{margin-left: 25%;}
.page .offset-2-4{margin-left: 50%;}
.page .offset-3-4{margin-left: 75%;}

.page .col-1-5,.page .col-1-5-fixed{width:20%;}
.page .col-2-5,.page .col-2-5-fixed{width:40%;}
.page .col-3-5,.page .col-3-5-fixed{width:60%;}
.page .col-4-5,.page .col-4-5-fixed{width:80%;}
.page .offset-1-5{margin-left: 20%;}
.page .offset-2-5{margin-left: 40%;}
.page .offset-3-5{margin-left: 60%;}
.page .offset-4-5{margin-left: 80%;}

.page .col-1-6,.page .col-1-6-fixed{width:16.66%;}
.page .col-2-6,.page .col-2-6-fixed{width:33.33%;}
.page .col-3-6,.page .col-3-6-fixed{width:50%;}
.page .col-4-6,.page .col-4-6-fixed{width:66.66%;}
.page .col-5-6,.page .col-5-6-fixed{width:83.33%;}
.page .offset-1-6{margin-left: 16.66%;}
.page .offset-2-6{margin-left: 33.33%;}
.page .offset-3-6{margin-left: 50%;}
.page .offset-4-6{margin-left: 66.66%;}
.page .offset-5-6{margin-left: 83.33%;}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.page{width:960px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.page{width:768px;}
}

@media only screen and (max-width: 767px) {
	.page, .page .col-1-2, .page .col-1-3, .page .col-2-3, .page .col-1-4, .page .col-2-4, .page .col-3-4, .page .col-1-5, .page .col-2-5, .page .col-3-5, .page .col-4-5, .page .col-1-6, .page .col-2-6, .page .col-3-6, .page .col-4-6, .page .col-5-6{width:100%;}
	
	.page .offset-1-2, .page .offset-1-3, .page .offset-2-3, .page .offset-1-4, .page .offset-2-4, .page .offset-3-4, .page .offset-1-5, .page .offset-2-5, .page .offset-3-5, .page .offset-4-5, .page .offset-1-6, .page .offset-2-6, .page .offset-3-6, .page .offset-4-6, .page .offset-5-6{margin-left:0;}
}
